body {
    margin: 17px auto;
    min-width:70%;
    width: 70%;
    color: Black;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 2px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    font size: 3em;
    margin-right: 17px;
}
a {
    text-decoration: underline;
    color: orange;
    text-decoration-color: orange;
    
    
    
}
a:hover {
    text-decoration: underline;
    color: orange;
    text-decoration-color: green;
}
h1 {
    font-size: 2em;
    color: Orange;
    text-align: center;
    margin: 11px auto;
}
p {
    font-size: 2em;
    color: Orange;
    font-weight: bold;
    text-align: center;
    margin: 16px auto;
}
footer {
    border-top: 1px solid Orange;
    font-size: 1em;
    text-align: center;
}
d { font-size = 1em;
    color: Orange;
   text-align: center;
   margin: 17px auto;
}
.navbar {
  overflow: hidden;
  background: rgba(9, 13, 58, 0.8);
  text-decoration: underline;
  text-decoration-color: green;
}



.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: green;
  
}


#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-decoration: underline;
    text-decoration-color: green;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: green;
  text-decoration: underline;
  text-decoration-color: green;
  
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: green;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: underline;
  text-decoration-color: green;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  max-width: 40%;
  min-width: 20%;
  max-height: 20%;
  min-height: 40%;
  
  
}

img.cat-img {

    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px 5px 4px 10px;
    vertical-align: middle;
    border-radius: 90px;
    -moz-border-radius: 90px;
    display: inherit;
}
.cat-img {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px 5px 4px 10px;
    vertical-align: middle;
    border-radius: 90px;
    -moz-border-radius: 90px;
    display: inherit;
}
audio {
    height: 35px;
}
.blurb {
    text-align: center;
}
 @media (min-width: 1400px) 
 {
    body
    {
        font-size: 50px; 
    }
    h1
    {
        font-size:50px;
    }
     .navbar a 
     {
        font-size:42px;
     }
 }
 @media (min-width: 2000px) 
 {
    body
    {
        font-size: 72px; 
    }
    h1
    {
        font-size:72px;
    }
      .navbar a 
     {
        font-size:64px;
     }
 }
 @media (min-width: 2800px) 
 {
    body
    {
        font-size: 96px; 
    }
    h1
    {
        font-size:96px;
    }
      .navbar a 
     {
        font-size:88px;
     }
 }
    
