<!DOCTYPE html>
<html>
	<head>
                        <title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			
	    		<ul>
	        		<li><a href="mailto:fulcrumn7@gmail.com">Email</a></li>
	        		<li><a href=https://github.com/Alexander-Berg>My github</a></li>
				<li><a href=https://github.com/Alexander-Berg>My Linkedin Profile</a></li>
				<li><a href=https://github.com/Alexander-Berg>My Headhunter Profile</a></li>
				<li><a href=https://t.me/Alexander_Berg>Telegram</a></li>
				</ul>
			</footer>
		</body>
	</html>
