<!DOCTYPE html>
<html>

<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link rel="icon" href="https://i.ibb.co/nBRMNCd/apple-touch-icon-57x57.png">

<meta name="A.Berg QA Engineer" content="&nbsp;"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">


</head>

<style>

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
		a:link {
  color: orange;
text-decoration: underline;
text-decoration-color: orange;			
}

/* visited link */
a:visited {
  color: orange;
	text-decoration: underline;
text-decoration-color: orange;	
}

/* mouse over link */
a:hover {
  color: orange;
	text-decoration: underline;
	text-decoration-color: orange;	
}

/* selected link */
a:active {
  color: orange;
	text-decoration: underline;
	text-decoration-color: orange;	
}
		
</style>
	
<body>
<audio id="divAudio">
   <source src="source.mp3" type="audio/mp3">
</audio>
<script>
   var vAudio = document.getElementById("divAudio");
   function playMusic()
   {
      vAudio.play();
   }
</script>
<div onmouseover="playMusic()">
<picture>
		<source
				media="(orientation: landscape)"
				srcset="src/Desktop.png">

		<source
				media="(orientation: portrait)"
				srcset="src/Smalloval.png">
		<img src="src/Smalloval.png" border="0">
	</picture>
	
<div class="container">
			
{{ content }}


<!-- The navigation menu -->
<div class="navbar">
<audio id="beep-three" preload="auto">
<source src="src/beep.mp3" controls>
<source src="src/beep.ogg" controls>
</audio>
<a href="https://github.com/Alexander-Berg/A.Berg-Resume">
	<img alt="My Resume" src="src/resume.png" style="float:left" class="cat-img">
	My Resume
<a href=https://github.com/Alexander-Berg>
	<img alt="My Resume" src="src/hh.png" style="float:left" class="cat-img">
	My Headhunter
<a href=https://github.com/Alexander-Berg>
	<img alt="My Resume" src="src/linked.png" style="float:left" class="cat-img">
	My Linkedin
<a href=https://github.com/Alexander-Berg>
	<img alt="My Resume" src="src/git.png" style="float:left" class="cat-img">
	My GitHub
<a href=https://t.me/Alexander_Berg>
	<img alt="My Resume" src="src/telegram.png" style="float:left" class="cat-img">
	My Telegram
<a href="https://stackoverflow.com">
	<img alt="My Resume" src="src/facebook.png" style="float:left" class="cat-img">
	My Facebook
<a href="mailto:alexandr.berg92@gmail.com">
	<img alt="My Resume" src="src/gmail.png" style="float:left" class="cat-img">
	My Email
<a href="https://stackoverflow.com">
	<img alt="My Resume" src="src/pay.png" style="float:left" class="cat-img">
	My Paypal
<a href="https://github.com/Alexander-Berg/Quality-Assurance-Diploma">
	<img alt="My Resume" src="src/diploma.png" style="float:left" class="cat-img">
	QA Diploma Project
<a href="https://github.com/Alexander-Berg/QA-Engineer-Mindmaps">
	<img alt="My Resume" src="src/mind.png" style="float:left" class="cat-img">
	QA Mindmaps
<a href="https://stackoverflow.com">
	<img alt="My Resume" src="src/stack.png" style="float:left" class="cat-img">
	Stack Owerflow
<a href="https://news.google.com/topics/CAAqJggKIiBDQkFTRWdvSUwyMHZNRGRqTVhZU0FtVnVHZ0pWVXlnQVAB?oc=3&ceid=US:en">
	<img alt="My Resume" src="src/news.png" style="float:left" class="cat-img">
	IT News
</a>
<script>
$("div.navbar a")
  .each(function(i) {
    if (i != 0) {
      $("#beep-three")
        .clone()
        .attr("id", "beep-three" + i)
        .appendTo($(this).parent());
    }
    $(this).data("beeper", i);
  })
  .mouseenter(function() {
    $("#beep-three" + $(this).data("beeper"))[0].play();
  });
$("#beep-three").attr("id", "beep-three0");
</script>
</div>

<video autoplay muted loop id="myVideo">
  <source src="src/max1.mp4" type="video/mp4">
</video>

<footer>
	
<body onload="startTime()">
<d>
<div id="txt">

<script>
function startTime() {
  const today = new Date();
  let h = today.getHours();
  let m = today.getMinutes();
  let s = today.getSeconds();
const days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
  m = checkTime(m);
  s = checkTime(s);
document.getElementById('txt').innerHTML = today.toUTCString();
 setTimeout(startTime, 1000);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>
</div>
</d>
<d>Created by Alexander Berg,2021</d>
</footer>
	</div>
</body>

</html>
